.table-header {
	text-align: center;
	padding: 40px;
}

iframe {
	display: block;
	margin: 50px auto;
	/*margin-bottom: 200px;*/
}

.boldness {
	font-weight: 30px;
}


.mainpage {
	/*background-image: url("mtb winner.jpg");*/
	border-radius: 5px;
}

.table {
	opacity: 0.8;
}

.table:hover {
	opacity: 1;
}

/*th {
	float: right;
}*/