
<!DOCTYPE html>
<html>
<head>
    <!-- Compiled and minified CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/squadrawit.gif' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style/header.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style/downloads.css' %}"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    {% endblock %}

</head>
<body>
      <nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src={% static 'main/transalp.png' %} width="auto" height="50" alt="Transalps"></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/authorize">Gebruikers</a>
            <a class="nav-item nav-link" href="https://www.strava.com/oauth/authorize?client_id=34525&response_type=code&redirect_uri=http://127.0.0.1:8000/authorize/&approval_prompt=force&scope=profile:read_all">Registreren</a>
            <a class="nav-item nav-link" href="/">Statistieken</a>
            <a class="nav-item nav-link" href="/downloads">Downloads</a>
            <a class="nav-item nav-link" href="/about">Over mij</a>
          </div>
        </div>
        <a class="navbar-brand" href="https://www.strava.com/"><img src={% static 'main/LogoStrava.jpg' %} width="auto" height="50" alt="sq37.nl"></a>

      </nav>

    {% block content %}
    {% endblock %}
    {% block test %}
    {% endblock %}

    <footer class="page-footer font-small text-gray bg-dark pt-4">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <a class="navbar-brand" href="/"><img src={% static 'main/transalp.png' %} width="auto" height="50" alt=""></a>
            <!-- <p>Sponsored by:</p>
            <a class="navbar-brand" href="/"><img src={% static 'main/allemerGroup.jpeg' %} width="auto" height="75" alt=""></a> -->
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled">
                <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6K59G4QRVNNEN&source=url"><img style="height: auto; width: 70px;" src={% static 'main/donate.png' %}></a></li>
                <li><a href="https://www.strava.com/">Strava<a></li>
                <li><a href="/about">Over mij</a></li>
                <li><a href="/disclaimer">Disclaimer</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Header Links</h5>
            <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/authorize">Gebruikers</a></li>
                <li><a href="https://www.strava.com/oauth/authorize?client_id=34525&response_type=code&redirect_uri=http://127.0.0.1:8000/authorize/&approval_prompt=force&scope=view_private">Registreren</a></li>
                <li><a href="/">Statistieken</a></li>
                <li><a href="/downloads">Downloads</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>